@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Tahoma', sans-serif;
    background-color: #F4F4F4;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1, h2 {
    color: #3B3B3B;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a, p {
    color: #3B3B3B;
}

h1 {
    font-size: 16px;
    font-weight: bold;
}

h2 {
    font-size: 15px;
    font-weight: bold;
}

p, span {
    font-size: 13px;
}

#text {
    font-size: 13px;
}

.container {
    margin: 64px auto;
    max-width: 1110px;
    border-left: 1px solid #CACACA;
}

.header {
    background-color: #E9E9EB;
    border-bottom: 1px solid #CACACA;
}

.header-content > label {
    font-size: 13px;
}

.header-content {
    padding: 18px 48px;
}

.content {
    padding: 32px 48px;
}

.content-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.block-left {
    max-width: 625px;
}

.block-right {
    border-left: 1px solid #CACACA;
    padding-left: 20px;
    margin-left: auto;
    width: 234px;
}

.block-right > label {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.text > p:not(:last-child) {
    margin-bottom: 12px;
}

.content > div:not(:last-child) {
    margin-bottom: 24px;
}

.text-row:not(:last-child) {
    margin-bottom: 12px;
}

.text-row > p > span {
    color: #C1C1C1;
}

.text-row > p > a {
    color: #1e2d9d;
}

.header-decoration {
    border-bottom: 1px solid #CACACA;
    height: 16px;
    width: 100%;
    background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 10px,
            #CACACA 8px,
            #CACACA 16px
    );
}

.cards-list {
    display: flex;
}

.card:not(:last-child) {
    margin-right: 20px;
}

.card {
    border: 1px solid #CACACA;
    width: 106px;
    /*background-image: url("media/OUDEE.png");*/
    /*background-size: 236px;*/
}

.card-image {
    width: 100%;
    height: 106px;
    background-size: 106px;
}