@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Ruda', sans-serif;
    background-color: #F4F4F4;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 32px;
    margin-bottom: 12px;
}

h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1120px;
}

.banner__content {
    margin-top: 64px;
}

.banner__articles {
    margin-bottom: 36px;
}

.banner__text {
    color: #3A3A3A;
    cursor: default;
}

.nickname {
    color: #3A3A3A;
    transition: color linear 0.2s;
}

.nickname:hover {
    color: #01B075;
}

.socials__list {
    display: flex;

    padding-inline-start: 0;
}

.socials__item {
    margin-right: 32px;
    list-style-type: none;
}

.socials__link {
    padding: 16px 32px;
    display: inline-block;

    border: 1px solid #CCCCCC;
    border-radius: 15px;

    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A;

    transition: background-color ease-in-out 0.2s;
}

.socials__link:hover {
    background-color: #01B075;
}

.socials__link:hover .link__text{
    color: #fff;
}

.link__text {
    text-decoration: none;
}

.project_year {
    color: #CCCCCC;
}

.star {
    color: orange;
}

.description {
    margin-bottom: 8px;
    color: #6D6D6D;
}

.disclaimer {
    display: block;
    margin-bottom: 8px;
    color: #6D6D6D;
}


.category {
    margin-bottom: 16px;
    padding: 0 16px;
    min-width: 40%;

    border-radius: 12px;
}

.project__list_item:not(:last-child) {
    margin-bottom: 4px;
}

.project__list_item:last-child {
    margin-bottom: 12px;
}

.subcategory {
    margin-left: 16px;
}

.subcategories_list {
    margin-left: 16px;
}